.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.userNameDiv {
  padding-top: 250px;
  height: 20px;
}
.titleDiv {
  font-size: 20px;
  padding: 5px;
  color: white;
}
.smalltitleDiv {
  font-size: 10px;
  padding: 3px;
  color: white;
}
.loginButton2 {
  margin-top: 10px;
}
.loginButton2:hover {
  background-color: rgb(255, 146, 83);
}
.logInButton {
  margin-right: 10px;
  margin-top: 200px;
}
.logInButton:hover {
  background-color: rgb(255, 146, 83);
}
.navButton {
  margin-right: 10px;
}
.background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.Pictures {
  margin: 10px;
}
img {
  margin: 5px;
}
/* ########################## DROP BOARDS ########################## */
.Board {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 2px solid black;
  background-color: rgb(0, 0, 0);
}
.BoardArmor {
  position: fixed;
  top: 100px;
  left: 420px;
}
.BoardWeapon {
  position: fixed;
  top: 270px;
  left: 420px;
}
.armorFrame{
  position: absolute;
  width: 160px;
  top: -10px;
  left: -10px;
  z-index: -1;
}
.currentItem {
  position: relative;
  top: 10px;
}
.currentItem button {
  position: relative;
  top: 10px;
}
/* ##### END DROP BOARDS ##### */

.createFormFrame {
  position: absolute;
  width: 330px;
  height: 460px;
  top: -15px;
  left: -10px;
  z-index: -1;
}

.textBox {
  resize: none;
  position: relative;
  top: 45px;
  right: 0px;
  height: 100px;
  margin-left: 10px;
}

.createForm{
  padding: 20px;
  padding-top: 50px;
  top: 110px;
  left: 605px;
  position: fixed;
  border: 2px solid rgb(0, 0, 0);;
  background-color: rgb(48, 48, 48);
  width: 280px;
  height: 370px;
  color: white;
}
.createForm div {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createForm input {
  margin-left: 10px;
  width: 90px;
  text-align: center;
}

.createMonsterHolder{
  margin: 5px;
}
.createMonsterCard {
  width: 160px;
  height: 160px;
}
.createMonsterCardBorder {
  position: absolute;
  left: -9px;
  bottom: -9px;
  width: 190px;
  z-index: 10;
}
.bioBox {
  width: 250px
}
.createMonsterCard2 {
  position: absolute;
  top: 110px;
  left: 50px;
  width: 400px;
}
.createMonsterButton {
  position: fixed;
  top: 0px;
  left: -40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.createMonsterButton:hover {
  cursor: pointer;
}
.characterCardContainer{
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
}
.crewCardSpacing {
  margin-bottom: 10px;
  width: 900px;
  /* margin-left: auto;
  margin-right: auto; */
  background-color: #ff9900;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 20px;
}
/* ######################### Character Card CSS ######################### */
.characterCardHolder{
  position: relative;
  /* background-color: rgb(255, 0, 0); */
  padding-bottom: 30px;
  margin-bottom: 30px;
  width: 510px;
  height: 360px;
}
.monsterCard1 {
  position: relative;
  bottom: 0px;
  left: -210px;
  max-width: 250px;
}
.monsterCardBoarder1 {
  position: relative;
  bottom: 290px;
  left: -5px;
  max-width: 250px;
  z-index: 1;
}
.monsterCardBackBoarder1 {
  position: relative;
  bottom: 290px;
  left: -15px;
  width: 230px;
  height: 340px;
  z-index: 2;
  /* filter:brightness(0.9) */
}
.smallWeapon1 {
  position: relative;
  bottom: -57px;
  left: 266px;
  width: 80px;
  height: 80px;
  z-index: 2;
}
.smallArmor1 {
  position: relative;
  width: 80px;
  height: 80px;
  z-index: 2;
  bottom: -57px;
  left: 219px;
}
.characterCardName1 {
  position: relative;
  z-index: 2;
  bottom: -210px;
  left: -105px;
  font-size: 20px;
  font-weight: 700;
}
.monsterCardLevel1 {
  position: relative;
  z-index: 2;
  bottom: 457px;
  left: -217px;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.monsterCardExtras1 {
  position: relative;
  z-index: 2;
  bottom: 455px;
  left: -111px;
}
.monsterCardBio1 {
  position: relative;
  z-index: 2;
  bottom: 752px;
  left: 275px;
  word-wrap: break-word;
  overflow: hidden;
  width: 190px;
  height: 210px;
  /* background-color: aqua; */
  font-size: 20px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 102, 5), 0 0 0.2em rgb(0, 85, 1);
}
.monsterCardEdit1 {
  position: relative;
  z-index: 3;
  bottom: 410px;
  left: -110px;
}
.monsterCardDelete1 {
  position: relative;
  z-index: 3;
  bottom: 410px;
  left: -110px;
}
.monsterCardAugment1 {
  position: relative;
  z-index: 2;
  width: 40px;
  bottom: 740px;
  left: 113px;
  z-index: 10;
}
.armorRating1 {
  position: relative;
  z-index: 5;
  width: 50px;
  bottom: 1040px;
  left: 188px;
  font-size: 25px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 2px rgb(0, 0, 0), 0 0 1em rgb(255, 217, 0), 0 0 0.2em rgb(251, 255, 0);
  /* background-color: aqua; */
 }

 .forBackground1 {
  position: relative;
  top: -1080px;
  left: 45px;
  width: 200px;
  height: 200px;
  z-index: -1;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(88, 50, 0));
}
.forFormAdd1 {
  position: relative;
  z-index: 2;
  bottom: 940px;
  left: 120px;
}

/* ######################### END Character Card CSS ######################### */
.monsterCard2 {
  position: relative;
  bottom: 0px;
  left: -220px;
  max-width: 250px;
}
.monsterCardBoarder2 {
  position: relative;
  bottom: 300px;
  left: -5px;
  max-width: 250px;
  z-index: 1;
}
.monsterCardBackBoarder2 {
  position: relative;
  bottom: 315px;
  left: -24px;
  width: 230px;
  height: 340px;
  z-index: 2;
}
.smallWeapon2 {
  position: relative;
  bottom: -60px;
  left: 257px;
  width: 80px;
  height: 80px;
  z-index: 2;
}
.smallArmor2 {
  position: relative;
  width: 82px;
  height: 82px;
  z-index: 2;
  bottom: -63px;
  left: 211px;
}
.characterCardName2 {
  position: relative;
  z-index: 2;
  bottom: -203px;
  left: -122px;
  font-size: 20px;
  font-weight: 700;
}
.monsterCardLevel2 {
  position: relative;
  z-index: 2;
  bottom: 607px;
  left: -220px;
  font-size: 30px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.monsterCardExtras2 {
  position: relative;
  z-index: 2;
  font-size: 15px;
  bottom: 495px;
  left: -120px;
}
.monsterCardBio2 {
  position: relative;
  z-index: 2;
  bottom: 760px;
  left: 266px;
  word-wrap: break-word;
  overflow: hidden;
  width: 190px;
  height: 180px;
  /* background-color: aqua; */
  font-size: 19px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 2px rgb(0, 0, 0), 0 0 0.2em rgb(142, 0, 0);
}
.monsterCardEdit2 {
  position: relative;
  z-index: 3;
  bottom: 437px;
  left: -120px;
}
.monsterCardDelete2 {
  position: relative;
  z-index: 3;
  bottom: 437px;
  left: -120px;
}
.monsterCardAugment2 {
  position: relative;
  z-index: 2;
  width: 40px;
  bottom: 990px;
  left: -177px;
  z-index: 10;
}
.armorRating2 {
  position: relative;
  z-index: 5;
  width: 50px;
  bottom: 755px;
  left: 107px;
  font-size: 25px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 2px rgb(0, 0, 0), 0 0 1em rgb(255, 217, 0), 0 0 0.2em rgb(255, 174, 0);
  /* background-color: aqua; */
 }
 .forBackground2 {
  position: relative;
  top: -1072px;
  left: 40px;
  width: 200px;
  height: 200px;
  z-index: -1;
  background-image: linear-gradient(to bottom, rgb(147, 108, 0), rgb(0, 0, 0));
}
.forFormAdd2 {
  position: relative;
  z-index: 2;
  bottom: 937px;
  left: 115px;
}
/* ######################### END Character Card CSS ######################### */
.monsterCard3 {
  position: relative;
  bottom: -10px;
  left: -217px;
  width: 250px;
}
.monsterCardBoarder3 {
  position: relative;
  bottom: 292px;
  left: 0px;
  width: 250px;
  height: 350px;
  z-index: 10;
}
.monsterCardBackBoarder3 {
  position: relative;
  bottom: 300px;
  left: -23px;
  width: 230px;
  height: 335px;
  z-index: 2;
  /* filter:brightness(0.9) */
}
.smallWeapon3 {
  position: relative;
  bottom: -58px;
  left: 261px;
  width: 80px;
  height: 80px;
  z-index: 2;
}
.smallArmor3 {
  position: relative;
  width: 80px;
  height: 80px;
  z-index: 2;
  bottom: -58px;
  left: 211px;
}
.characterCardName3 {
  position: relative;
  z-index: 2;
  bottom: -215px;
  left: -120px;
  font-size: 20px;
  font-weight: 700;
  z-index: 11;
}
.monsterCardLevel3 {
  position: relative;
  z-index: 2;
  bottom: 351px;
  left: -213px;
  font-size: 25px;
  font-weight: 700;
  color: rgb(38, 0, 255);
  z-index: 11;
}
.monsterCardExtras3 {
  position: relative;
  z-index: 2;
  font-size: 14px;
  bottom: 450px;
  left: -118px;
  z-index: 11;
}
.monsterCardBio3 {
  position: relative;
  z-index: 2;
  bottom: 725px;
  left: 267px;
  word-wrap: break-word;
  overflow: hidden;
  width: 190px;
  height: 180px;
  /* background-color: aqua; */
  font-size: 19px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 85, 111), 0 0 0.2em rgb(255, 255, 255);
}
.monsterCardEdit3 {
  position: relative;
  z-index: 3;
  bottom: 405px;
  left: -115px;
}
.monsterCardDelete3 {
  position: relative;
  z-index: 3;
  bottom: 405px;
  left: -115px;
}
.monsterCardAugment3 {
  position: relative;
  z-index: 2;
  width: 40px;
  bottom: 680px;
  left: -24px;
  z-index: 10;
}
.armorRating3 {
  position: relative;
  z-index: 10;
  width: 50px;
  bottom: 1015px;
  left: 23px;
  font-size: 25px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 187, 255), 0 0 0.2em rgb(19, 47, 255);
  /* background-color: aqua; */
 }
 .forBackground3 {
  position: relative;
  top: -1035px;
  left: 40px;
  width: 200px;
  height: 200px;
  z-index: -1;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(31, 84, 133));
}
.forFormAdd3 {
  position: relative;
  z-index: 2;
  bottom: 905px;
  left: 115px;
}
.orange {
  background-color: #ec962c;
}
/* ######################### END Character Card CSS ######################### */

.saveButton {
  position: absolute;
  top: 580px;
  left: 665px;
  width: 200px;
  font-size: 20px;
}
.saveButton:hover {
  cursor: pointer;
  background-color: #9a5500;
}
.lookButton {
  border-color: rgb(0, 0, 0);
  background-color: rgb(223, 223, 223);
  filter: brightness(1);
}

.lookButton:hover {
  filter: brightness(0.7) saturate(0.6);
  cursor: pointer;
}
.selectionImages {
  width: 115px;
  height: 115px;
}
.selectionImages:hover {
  cursor: pointer;
  filter: brightness(1.5)
}
.imageHolder {
  position: relative;
  display: inline-block;
}

.looks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.picturesContainer {
  position: relative;
}
/* ########################## GAME PAGE ############################# */
/* .gameCardImageHolder {
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  align-items: flex-start;
  margin-left: 200px;
  margin-top: 20px;
} */
.gameCardSmallHolder {
  display: inline-block;
}
.gameCardSmallImage {
  /* background-color: rgb(246, 255, 0); */
  width: 140px;
  margin-left: -70px
}
.gameCardSmallName {
  /* background-color: rgb(60, 255, 0); */
  width: 80px;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: -70px;
  word-wrap: break-word;
}
.gameCardNumberCount {
  /* background-color: aqua; */
  width: 200px;
  margin-left: 50px;
}
.gameCardGameNumber {
  /* background-color: #ec962c; */
  width: 200px;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  left: 10px;
  top: -130px;
}

.dropDownPictures {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 40px;
  left: 600px;
  width: 500px;
  height: auto;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-color: #ec962c;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ##################### Trying the new button ##################### */

.newbutton {
  --b: 3px;   /* border thickness */
  --s: .1em; /* size of the corner */
  --c: #000000;
  
  padding: calc(.01em + var(--s)) calc(.3em + var(--s));
  color: var(--c);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#ff9900 90deg,var(--c) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .1s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .1em;
}
.newbutton:hover,
.newbutton:focus-visible{
  --_p: 0px;
  outline-color: var(--c);
  outline-offset: .05em;
}
.newbutton {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  margin-right: 10px;
}

/* ##################### Trying the new Input ##################### */

.newInput {
  --b: 3px;   /* border thickness */
  --s: .1em; /* size of the corner */
  --c: #000000;
  
  padding: calc(.01em + var(--s)) calc(.3em + var(--s));
  color: var(--c);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#ffffff00 90deg,var(--c) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .1em;
}
.newInput {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: none;
  margin-right: 10px;
}

/* ##################### Trying the new button SMALL ##################### */

.newbutton2 {
  --b: 3px;   /* border thickness */
  --s: .1em; /* size of the corner */
  --c: #000000;
  
  padding: calc(.01em + var(--s)) calc(.3em + var(--s));
  color: var(--c);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#ff9900 90deg,var(--c) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .1s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .1em;
}
.newbutton2:hover,
.newbutton2:focus-visible{
  --_p: 0px;
  outline-color: rgba(0, 0, 0, 0);
  outline-offset: .05em;
}
.newbutton2 {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  margin-right: 10px;
  margin-top: 5px;
}

/* ##################### Trying the new button SMALL ##################### */

.newbutton3 {
  --b: 3px;   /* border thickness */
  --s: .1em; /* size of the corner */
  --c: #000000;
  
  padding: calc(.01em + var(--s)) calc(.3em + var(--s));
  color: var(--c);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#ff9900 90deg,var(--c) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .1s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .1em;
}
.newbutton3:hover,
.newbutton3:focus-visible{
  --_p: 0px;
  outline-color: rgba(0, 0, 0, 0);
  outline-offset: .05em;
}
.newbutton3 {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  margin-right: 10px;
  margin-top: 5px;
  position: relative;
  left: -340px;
}

.newbuttonContainer {
  position: relative;
  top: -150px;
  left: -280px
}

.crewImageHolder {
  /* background-color: aqua; */
  display: inline-block;
  width: 900px;
  max-height: 0px;
  margin-left: 100px;
}
.crewAddButtons {
  margin-bottom: 10px;
  text-align: center;
  /* min-height: 330px;
  max-height: 330px; */
  /* background-color: rgba(102, 136, 112, 0.446); */
}