.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.userNameDiv {
  margin-top: 200px;
}
.logInButton {
  height: 100px;
  width: 200px;
  font-size: 40px;
  margin-top: 200px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.logInButton:hover {
  background-color: rgb(255, 146, 83);
}
.background{
  position: absolute;
  width: 99%;
  height: 99%;
  z-index: -1;
}
.Pictures {
  margin: 10px;
}
img {
  margin: 5px;
}

.Board {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 2px solid black;
}

.fullBoard {
  display: inline-block;
  width: 150px;
  height: 170px;
  border: 2px solid rgb(255, 0, 0);
}
.textBox {
  resize: none;
  height: 70px;
  width: 25em;
}
.createMonsterHolder{
  margin: 5px;
}
.createMonsterCard {
  width: 200px;
  height: 200px;
}
.createMonsterCardBorder {
  position: absolute;
  left: -9px;
  bottom: -8px;
  width: 230px;
  z-index: 10;
}
.monsterCard {
  position: relative;
  bottom: 50px;
  max-width: 150px;
}
.monsterCardBoarder {
  position: relative;
  bottom: 10px;
  right: 330px;
  max-width: 150px;
}
.lookButton {
  border-color: rgb(0, 0, 0);
  filter: brightness(0.7) saturate(0.6);
}

.lookButton.selected {
  border-color: red;
  background-color: rgb(255, 255, 255);
  filter: brightness(1);
}
.lookButton:hover {
  filter: brightness(1);
}
.selectionImages {
  width: 120px;
}
.imageHolder {
  position: relative;
  display: inline-block;
}
.removeButton {
  position: absolute;
  bottom: 30px;
  left: 110px;
}
.smallImage {
  max-width: 75px;
}

.looks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}